[submodule "external/cozo"]
	path = external/cozo
	url = https://github.com/cozodb/cozo
[submodule "external/FalkorDB"]
	path = external/FalkorDB
	url = https://github.com/FalkorDB/FalkorDB
[submodule "external/openCypher"]
	path = external/openCypher
	url = https://github.com/opencypher/openCypher
[submodule "external/GraphBLAS"]
	path = external/GraphBLAS
	url = https://github.com/DrTimothyAldenDavis/GraphBLAS.git
